$bg-body: hsl(0, 0%, 95%);
$bg-card-sedans: hsl(31, 77%, 52%);
$bg-card-suvs: hsl(184, 100%, 22%);
$bg-card-luxury: hsl(179, 100%, 13%);
$bg-links: hsl(0, 0%, 95%);
$color-headings: hsl(0, 0%, 95%);
$color-paragraphs: hsla(0, 0%, 100%, 0.75);
$font-family-main: 'Lexend Deca', sans-serif;
$font-family-headings: 'Big Shoulders Display', cursive;